<form id="inquiry-form">
  <fieldset>
    <label for="お名前">お名前</label>
    <input type="text" name="お名前" required="required">
  </fieldset>
  <fieldset>
    <label for="お名前（ふりがな）">お名前（ふりがな）</label>
    <input type="text" name="お名前（ふりがな）" required="required">
  </fieldset>
  <fieldset>
    <label for="会社名">会社名</label>
    <input type="text" name="会社名" required="required">
  </fieldset>
  <fieldset>
    <label for="メールアドレス">メールアドレス</label>
    <input type="email" name="メールアドレス" required="required">
  </fieldset>
  <fieldset>
    <label for="問い合わせ内容">問い合わせ内容</label>
    <textarea name="問い合わせ内容" rows="10" cols="72"></textarea>
  </fieldset>
  <button type="submit" class="btn btn--success btn--large">
    送信
  </button>
</form>

<script>
  window.addEventListener('load', () => {
    $('form#inquiry-form').submit(function() {
      let $form = $(this)
      let parameters = $form.serializeArray()
      let jsonData = {}
      parameters.forEach((element) => {
        jsonData[element.name] = element.value;
      })

      // Insert given coupon code
      const params = new URLSearchParams(window.location.search)
      const couponCode = params.get('coupon')
      if (couponCode && couponCode != '') {
        jsonData['クーポンコード'] = couponCode
      }

      $.ajax({
        url: '/api/PostInquiry',
        type: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        data: JSON.stringify(jsonData),
        success: () => {
          alert('お問い合わせを受け付けました。')
          $form.find('textarea, :input').val('')
        }
      })

      return false;
    })
  })
</script>